<a href="https://colab.research.google.com/github/mrwilson3/MIS-2800/blob/main/HW3_Wk4_20260203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The next six blocks provide the exact code to run to get your Colab file
started to run SQLite3

In [1]:
!pip install ipython-sql prettytable==3.10.1 pandas==2.2.2

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: pandas==2.2.2 in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [2]:
# Type this code exactly as shown to intall the first library needed for
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting pandas
  Using cached pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Using cached pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 3.0.0 which is incompatible.
gradio 5.50.0 requires pandas<3.0,>=1.0, but you have pandas 3.0.0 which is incompatible.
bqplot 0.12.45 requires pandas<3.0.0,>=1.0.0, but you have pandas 3.0.0 which is incompatible.
db-dtypes 1.5.0 requires pandas<3.0.0,>=1.5.3, but you have pandas 3.0.0 which is incompatible.
Successfully installed pandas-3.0.0

In [3]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [4]:
# Load the SQL magic extension (Moved to the next cell for proper execution order)

In [5]:
#this code imports sqlite3 and prints a statement stating it has been im
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [6]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.d
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [7]:
#This line is required so Colab stops acting like Python and acts more
%load_ext sql
%sql sqlite:///AdCampaigns2026.db

There are bugs (mistakes) for you to find and fix in the next 10 blocks

In [8]:
#Block 1
# Instructions: There is a typo in the table.  Hint: a word is missing.
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) table Marketing_Brands already exists
[SQL: CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
#Block 2
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Marketing_Brands.brand_id
[SQL: INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [15]:
#Block 3
%%sql
-- Instructions: Fix the code to select all the columns from the Marketi
SELECT * FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

In [16]:
#Block 4
%%sql
-- Instructions: Fix the code to display only the brand names and brand
SELECT brand_name, brand_type FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos', 'Snacks'),
 ('AWS', 'Technology'),
 ('Pepsi', 'Beverages'),
 ('He_Gets_Us', 'Religious'),
 ('Dr_Pepper', 'Beverages'),
 ('IBM', 'Technology'),
 ('Google', 'Technology')]

In [18]:
#Block 5
%%sql
SELECT * FROM Marketing_Brands
WHERE brand_type = 'Religious';

 * sqlite:///AdCampaigns2026.db
Done.

[(4, 'He_Gets_Us', 'Religious', 1000000)]

In [20]:
#Block 6
%%sql
SELECT brand_name
FROM Marketing_Brands
WHERE brand_budget > 5000000;

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos',), ('AWS',), ('Google',)]

In [21]:
#Block 7
%%sql
SELECT * FROM Marketing_Brands
WHERE brand_budget > 7000000;

 * sqlite:///AdCampaigns2026.db
Done.

[(2, 'AWS', 'Technology', 15000000), (7, 'Google', 'Technology', 8000000)]

In [22]:
#Block 8
%%sql
SELECT *
FROM Marketing_Brands
WHERE brand_type = 'Snacks'
   OR brand_type = 'Beverages';

 * sqlite:///AdCampaigns2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000)]

In [23]:
#Block 9
%%sql
SELECT brand_name, brand_budget
FROM Marketing_Brands
ORDER BY brand_budget DESC;

 * sqlite:///AdCampaigns2026.db
Done.

[('AWS', 15000000),
 ('Google', 8000000),
 ('Doritos', 7000000),
 ('Dr_Pepper', 5000000),
 ('Pepsi', 2000000),
 ('He_Gets_Us', 1000000),
 ('IBM', 100000)]

In [24]:
#Block 10
%%sql
CREATE TABLE High_Budget_Brands AS
SELECT *
FROM Marketing_Brands
WHERE brand_budget > 5000000;

 * sqlite:///AdCampaigns2026.db
Done.

[]

1. How did you fix the error in Block #1? Answer: Added TABLE
2. How did you fix the error in Block #2? Answer: INTO Marketing_Brands
3. How did you fix the error in Block #3? Answer: Added *
4. How did you fix the error in Block #4? Answer: Listed the columns
5. How did you fix the error in Block #5? Answer: Added WHERE brand_type = 'Religious'
6. How did you fix the error in Block #6? Answer: Added column + budget filter
7. How did you fix the error in Block #7? Answer: Added %%sql
8. How did you fix the error in Block #8? Answer: Added Snacks OR Beverages filter
9. How did you fix the error in Block #9? Answer: Completed query + ORDER BY DESC
10. How did you fix the error in Block #10? Answer: Used CREATE TABLE AS SELECT